/**************** CSS GERAL ****************/
.welcome-container {
    margin-top: 120px;
    margin-left: 360px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
}

body.sidebar-closed .welcome-container {
    margin-left: 180px;
}

body.sidebar-hovered .welcome-container {
    margin-left: 360px;
}

body:not(.sidebar-closed):not(.sidebar-hovered) .welcome-container {
    margin-left: 360px;
}

.welcome-container h2 {
    color: var(--grey-color);
    padding-top: 5px; 
    font-size: 2rem;
}

.info-box {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease; 
    font-size: 1.3rem;
    margin-top: 5px;
}

body.dark .welcome-container h2 {
    color: var(--white-color);
}
body.dark .info-box {
    background-color: #333; 
    color: var(--white-color);
}


/**************** INFO-BAR CSS ****************/
.info-bar-container {
    margin-top: 60px;
    margin-left: 360px;
    display: flex;
    gap: 50px;
    transition: all 0.3s ease;
}

body.sidebar-closed .info-bar-container {
    margin-left: 180px;
}

body.sidebar-hovered .info-bar-container {
    margin-left: 360px;
}

.info-bar {
    flex: 1;
    max-width: calc(230px * 2 + 50px);
    height: 180px; 
    background-color: var(--blue-color);
    border: none;
    border-radius: 20px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 35px; 
    padding: 30px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.info-bar i {
    font-size: 5rem; 
    color: var(--white-color);
    transition: all 0.3s ease;
}

.info-bar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.info-bar-content span:first-child {
    font-weight: 700;
    font-size: 1.6rem;
}

.info-bar-content span:nth-child(2) {
    font-weight: 700;
    font-size: 2.2rem;
}

.info-bar-content span:last-child {
    font-weight: 400;
    font-size: 1.2rem;
}

body.dark .info-bar {
    background-color: #333;
    color: var(--white-color);
}

body.dark .info-bar i {
    color: var(--white-color);
}

/**************** BOTÃO CSS ****************/
.button-container {
    margin-left: 360px;
    margin-top: 60px;
    display: flex;
    gap: 50px; 
    transition: all 0.3s ease;
}

body.sidebar-closed .button-container {
    margin-left: 180px;
    transition: all 0.3s ease;
}

body.sidebar-hovered .button-container {
    margin-left: 360px;
    transition: all 0.3s ease;
}

.button-container form {
    margin: 0;
}

.square-button {
    width: 230px;
    height: 190px;
    border: 2px solid var(--blue-color);
    background-color: transparent;
    border-radius: 20px;
    color: var(--blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.square-button i {
    font-size: 3rem;
    color: var(--blue-color);
    transition: all 0.3s ease;
}

.square-button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.square-button:hover i {
    color: var(--white-color);
}

.square-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

body.dark .square-button:hover i {
	color: #1e1e1e;
}

body.dark .square-button:hover {
	color: #1e1e1e;
}	