.button-container {
    margin-left: 360px;
    margin-top: 60px;
    display: flex;
    gap: 50px; 
    transition: all 0.3s ease;
}

body.sidebar-closed .button-container {
    margin-left: 180px;
    transition: all 0.3s ease;
}

body.sidebar-hovered .button-container {
    margin-left: 360px;
    transition: all 0.3s ease;
}

.button-container form {
    margin: 0;
}

.square-button {
    width: 230px;
    height: 190px;
    border: 2px solid var(--blue-color);
    background-color: transparent;
    border-radius: 20px;
    color: var(--blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.square-button i {
    font-size: 3rem;
    color: var(--blue-color);
    transition: all 0.3s ease;
}

.square-button:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.square-button:hover i {
    color: var(--white-color);
}

.square-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* dark mode */
body.dark .square-button:hover i {
	color: #1e1e1e;
}

body.dark .square-button:hover {
	color: #1e1e1e;
}	
